{% extends '::base.html.twig' %}
{% block title %}{{ news.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ news.created|date('c') }}">{{ news.created|date('') }}</time></div>
            <h2>{{ news.title }}</h2>
        </header>
        <div>
            <p>{{ news.content }}</p>
        </div>
    </article>
{% endblock %}
